html, body {
    height: 100%; /*OCUPAR EL 100% DE LA PANTALLA*/
    margin: 0; /*NO ME ACUERDO COMO SE LLAMA PERO REINICIA*/
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#busqueda{
    font: Arial;
    height: 25%;
    font-size: medium;
    margin-left: 20%;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    padding-left: 30px;
    border-radius: 12px;
    width: 60%;
}
header{
    width: 100%;
    height: 10vh ;

    background-color: #012A61 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: #ffff;
}

header button{ /*SOLO AFECTA A LOS BOTONES DENTRO DE HEADER*/
    width: 2%;
    height: 50%;
    margin: 1%;
    padding: 0;

    border: 0 transparent;
    background-color: transparent;
    color: #ffff;
    font-size: 110%;

    transition: .5s;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.mainCont{
    flex: 1; /*Propiedad abreviada (hace que el elemento crezca o se encoja en el espacio disponible y el tamaño inicial es cero)*/
    display: flex;
    background-color: #20807B;
}

aside{
    width: 15%;
    height: 90%;
    padding: 3%;
    margin: 0;
    background-color: #021334 ;

    display: flex;
    flex-direction: column;
    align-items: center;


}
aside button{ /*Diseño para los botones dentro de aside*/
    
    font-size: 110%; 
    margin: 5%;

    color: #ffff;
    display: inline-block;

    cursor: pointer; /*Hace que el cursor cambie a la manita*/
    border: 0 transparent; /*Quita el borde*/
    background-color: transparent;
}

main{
    flex: 1; /*Lo mismo que main Content*/
    margin: 0; /*reiniciar propiedades*/
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bienvenida{ /*Clase para el contenedor del mensaje de bienvenida*/
    width: 80%;
    margin: 25.79px; /*contenedor centrado*/ 
    padding: 30px 45px; /* Menos padding vertical */
    background: #1155d4ee;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-between; /* Separa texto y mascota */
    position: relative; /* Para posicionamiento absoluto de la mascota */
}

.texto-bienvenida {
    line-height: 1.3; /* Reduce espacio entre líneas */
    margin-right: 20px; /* Espacio antes de la mascota */
}

.mascota{ 
  position: absolute;
  right: 45px; /* Espacio a la derecha entre el borde del contenedor "bienvenida"
                y el contenedor "mascota" (es igual al padding de "bienvenida")*/
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  
}

article[id="artistas"]{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.artista{
    width: 10%;
    cursor: pointer;
}

.artista img{
    width: 100%;
    height: 100%;
    border-radius: 150%;
}

#reproductor{
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#reproductor img{
    width: 95%;
    height: 30% ;
    margin: 1%;
}

footer{
    width: 100%;
    height: 12vh;
    padding: 0; /*Igual que arriba reinicia*/
    margin: 0;

    background-color: #012A61 ;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%; 
}

footer button{ /*SOLO AFECTA A LOS BOTONES DENTRO DE FOOTER*/
    width: 2%;
    height: 40%;
    margin: 1%;
    padding: 0;

    border: 0 transparent;
    background-color: transparent;
    color: #ffff;
    font-size: 125%;

    transition: .5s;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

#barraTiempo{
    width: 70%;
    height: 3%;      
    background-color: #ffff ;
}