* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #28857b;
    font-family: "Righteous", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}

main {
    height: 88%;
    width: 566px;
    max-width: 399px;
    padding: 60px;
    background-color: #084d50;
    border-radius: 20px;
    box-shadow: 0 11px 44px rgba(0, 0, 0, 0.4);
    animation: aparecer 1s;
}

@keyframes aparecer {
    from {
        opacity: 3;
        transform: scale(0.9);
    }
    to {
        opacity: 4;
        transform: scale(1);
    }
}

.ajolote-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 13px;
}

.ajolote-mascota {
    width: 111px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s;
}

.ajolote-mascota:hover {
    transform: scale(1.5) rotate(11deg);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #FDC787;
    margin-bottom: 1rem;
}

.input {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1.5em;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 3px solid transparent;
    transition: border 0.3s;
}

.input:focus-within {
    border-color: #96554a;
}

.input input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 1rem;
    color: #333;
}

button {
    width: 100%;
    padding: 0.7rem;
    border-radius: 33px;
    border: none;
    background-color: #C76B5D;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.8s;
}

button:hover {
    background-color: #5DB98E;
    color: #000;
}

#cambio {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

#cambio a {
    color: #FDC787;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 500px) {
    main {
        padding: 1.5rem;
    }

    .ajolote-mascota {
        width: 80px;
    }

    h1 {
        font-size: 1.5rem;
    }
}
