*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #60948e;
    color: #f0f0f0;
    font-family: "Righteous", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;    
    justify-content: center;
}

main{
    font-family: "Righteous", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 88%;
    height: 88%;
}


form{
    border-radius: 22%;
    font-family: "Righteous", sans-serif;
    font-size: 0.9em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
    height: max-content;
    padding: 2% 5%;
    background: #054C4E;
    overflow: hidden;   
}

h1 {
    font-family: "Righteous", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    margin: 10px;
    color: #e7c6c6;
}


input{
    border: none;
    border-radius: 1.5em;
    background: none;
    outline: 0px;
} 

button {
    border-radius: 49%;
    font-family: "Righteous", sans-serif;
    background: #C76B5D;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px 0;
    transition: background 0.3s ease;
    width: 28%;
    height: 9%;
}

button:hover {
    background: #5DB98E;
    color: black;
}

a{
    color:#C76B5D;
}


label {
    position: static;
    width: 80%;
    height: auto;
    pointer-events: auto;
    margin: 2%;
}

article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 1em;
    width: 80%;

 
}

article p{
    width: max-content;
    align-self: start;
}


.texto{
     position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 3em;
    margin: 1%;
    background-color: #ffffff;
    text-indent: 2em;
    border: .3em solid transparent;

}

.fila{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1em;
    width: 100%;
    height: 3em;
    border-radius: 1.5em;
}


#inline{
    display: flex;
    align-items: center;
    gap: 0.5em;
}   



