<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Statics/CSS/indexGraph.css">
        <title>Document</title>
    </head>
    <body>

           <div class="contenedorPrincipal"><!--Contenedor Padre-->
                <article class="bienvenida"><!--Contenedor hijo del contendeor principal-->
                    <h1> Bienvenido a [Nombre]</h1> <!--Mensaje de bienvenida al usuario-->
                    <p>Tu pagina favorita para escuchar musica</p> <!--Mensaje para el usuario-->
                </article>
            </div>


        

    </body>
</html>