<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Statics/CSS/indexGraph.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/19e0c4481e.js" crossorigin="anonymous"></script> <!--LINKEO DE LA PÁGINA FONTAWESOME-->
        <script src="../Dynamics/BaseDeDatos/baseDeDatos.js"></script> <!--LINKEO DE LA BASE-DE-DATOS-->
        <script src="https://youtube.com/iframe_api"></script> <!--LINKEO API de youtube-->
        <title>AXOLOFY</title>
    </head>
    <body>
        <nav>   
            <label for="busqueda"></label>
            <input type="text" id="busqueda" name="busqueda" placeholder="Buscar canciones, artistas ..."> <!--INPUT PARA LA BARRA DE BUSQUEDA-->
            <button id="buscar" name="buscar"><i class="fa-solid fa-magnifying-glass"></i></button> <!--No se su funcionamiento (Santiago)-->
            <button id="perfil" onclick="location.href='./login.html'"><i class="fa-regular fa-circle-user"></i></i></button> <!--BOTON PARA IR A LA PÁGINA DE INICIO DE SESIÓN-->
            <div id="listaBusqueda">
                
            </div>
        </nav>

        <section class="mainCont">
            <aside>    <!--APARTADO BOTONES DE ASIDE-->
                <button id="homeBtn"><i class="fa-solid fa-house"></i> Home</button> <!--Botón para regresar a home-->
                <button id="artistsBtn"><i class="fa-solid fa-user"></i> Artistas</button><!--Botón para ir a Artistas-->
                <button id="playlistsBtn"><i class="fa-solid fa-list"></i> Playlist</button><!--Botón para ir a Playlists-->
                <button id="creditsBtn"><i class="fa-solid fa-star"></i> Créditos</button><!--Botón para ir a Créditos-->
            </aside>
        <!--Main-->
            <main>
                <main id="home">    
                    <article class="bienvenida"> <!--MENSAJE DE BIENVENIDOS-->
                        <div class="texto-bienvenida"> <!--Clase que da estructura al texto del contenedor-->
                            <h1>¡Bienvenido a AXOLOFY!</h1>
                            <p> Tu plataforma musical favorita</p>
                        </div>   
                        <div class="ajolote-container">
                            <img src="../Statics/imagenes/imagenesCréditos/ajolote.png" alt="Ajolote mascota" class="ajolote-mascota">
                        </div>
                    </article>
                    <article id="artistas"> <!--APARTADO DONDE SE COLOCAN LOS ARTISTAS EN HOME-->

                    </article>
                </main>
                <section id="artists">  <!--APARTADO DONDE SE COLOCAN LOS ARTISTAS Y ALBUMS EN ARTISTS-->

                </section>

               <!--APARTADO MAQUETADO DE LISTA DE PLAYLISTS-->
                <section id="playlist">
                                  
                    <header class="playlistHead">
                        <div class="headPlay">
                            <h1>Playlists</h1>
                        </div>
                            <img src="../Statics/Imagenes/imagenesCréditos/ajolote.png" alt="Ajolote" />
                    </header>

                    <section class="playlistCuerpo">
                        <div id="playlistsCreadas"> <!--APARTADO DONDE APARECEN LAS PLAYLISTS CREADAS-->
                            
                        </div>
                        <form id="formularioPlaylist" class="formPlaylist"> <!--FORMULARIO PARA LA CREACIÓN DE PLAYLISTS-->
                            <label for="nombrePlaylist">Nombre de la playlist:</label>
                            <input type="text" id="nombrePlaylist" name="nombre" placeholder="Ingresa el nombre de tu playlist" >
                            <span id="mensajeAlertNombre" ></span>
                            <label for="can">Agregar canciones:</label>
                            <span id="mensajeAlertCancion"></span>
                            <span id="mensajeCorrectCancion"></span>
                            <input type="text" name="canciones" id="can" placeholder="Escribe para buscar..." >
                            <div id="listaCanciones" style="display:none;"><!--APARTADO DONDE APARECEN LA LISTA DE CANCIONES-->

                            </div>
                            <span id="mensajeAlert"></span>
                            <button type="submit" class="submit-btn">Crear playlist</button>
                            <span id="mensajeSubmit"></span>
                        </form>    
                    </section>
                </section>

               <!--INICIA MAQUETADO DE UNA SOLA PLAYLIST-->
                <section id="playlistUnico" class="playlistUnique" style="display:none;">
                    <div class="playlistUniqueHead">
                            <h3 id="nombrePlaylistSeleccionada">Playlist</h3>
                            <img src="../Statics/Imagenes/imagenesCréditos/ajolote.png" alt="Ajolote" />
                    </div>
                    <div class="canciones"><!--APARTADO DONDE APARECEN LAS CANCIONES DE LA PLAYLIST-->

                    </div>
                </section>


                <!--APARTADO PARA MAQUETADO DE CRÉDITOS-->
                <section id="credits" class="creditsContent">
                    <div class="creditHead">
                        <div class="texto">
                            <h1>Créditos</h1>
                            <p>Durante el desarrollo del proyecto realizado en el curso-taller Desarrollo de Proyectos Web con JavaScript, los integrantes del equipo 8 fueron:</p>
                        </div>
                        <img src="../Statics/Imagenes/imagenesCréditos/ajolote.png" alt="Ajolote">
                    </div>
                    <div class="tarjetas">
                        <div class="grupoIzquierdo">
                             <div class="tarjeta integrantes">
                                <h2>Integrantes</h2>
                                <p>Carlos Alberto Perez Banda</p>
                                <p>Márquez Arias Luisa Yaretzi</p>
                                <p>Acevedo Rea Stefany Nahomi</p>
                                <p>Alvarado Perez Santiago</p>
                                <p>Hirales Correa Paloma</p>
                            </div>

                            <div class="tarjeta mentor">
                                <h2>Mentor</h2>
                                <p>El equipo contó con la asesoría de:</p>
                                <p>Isaac Arturo Urrutia Alfaro</p>
                            </div>

                        </div>
                        <div class="grupoDerecho">
                            <div class="grupoDerecho12">
                                <div class="tarjeta unam">
                                    <img src="../Statics/Imagenes/imagenesCréditos/logoUnam.png" alt="ENP6">
                                </div>
                                <div class="tarjeta prepa">
                                    <img src="../Statics/Imagenes/imagenesCréditos/logoPrepa.png" alt="UNAM">
                                </div>
                            </div>
                            <div class="grupoDerecho3">
                                <div class="tarjeta ete">
                                    <img src="../Statics/Imagenes/imagenesCréditos/logoEteCompu.png" alt="CM">
                                </div>
                            </div>
                        </div>             
                    </div>                      
                </section>
                <!--TERMINA APARTADO CRÉDITOS-->
            </main>
            <section id="reproductor" style="display: none;"> <!--APARTADO DE REPRODUCTOR-->
                <section class="video-container" >
                    <div id="player"> <!--APARTADO DEL PLAYER DE YOUTUBE-->

                    </div>
                </section>
            </section>
        </section>
        <footer>
            <button id="backBtn"><i class="fa-solid fa-backward"></i></button> <!--Botón para regresar a la canción pasada-->
            <button id="pauseBtn"><i class="fa-solid fa-play"></i></button> <!--Botón para pausar/play a la canción-->
            <button id="skipBtn"><i class="fa-solid fa-forward"></i></button> <!--Botón para saltar a la siguiente canción-->
            <button id="listRepo"><i class="fa-solid fa-bars"></i></button>  <!--Botón para ver la lista de Reproducción-->
            <button id="soundBtn"><i class="fa-solid fa-volume-high"></i></button>
            <input type="range" max="100"  id="volumeSlider"> <!--Botón apra ajustar el sonido-->
            <input type="range" max="100"  id="barraTiempo"> <!--Barra para mover la canción-->
        </footer>
        
    <script src="../Dynamics/JS/index.js"></script> <!--LINKEO del JavaScript del index-->
    </body>
</html>