<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Statics/CSS/indexGraph.css">
        <title>[NOMBRE]</title>
    </head>
    <body>
        <header>   
            <label for="busqueda"></label>
            <input type="text" id="busqueda" name="busqueda" placeholder="Buscar canciones, artistas ...">
            <button id="buscar" name="buscar">🔍 </button>
        </header>

        <section class="mainCont">
            <!--Arriba va InterfazBuscar e InterfazMenu-->
            <aside>    
                <button> <img src="../Statics/imagenes/home.png" id="homeImg"> Home</button>
                <button>  <img src="../Statics/imagenes/personastrans.png" id="artistaImg"> Artistas</button>
                <button> <img src="../Statics/imagenes/lista (2).png" id="listaImg"> Playlist</button>
                <button> <img src="../Statics/imagenes/estrellaImg.png" id="estrellaImg">Creditos</button>
            </aside>
        <!--Abajo va InterfazMusica (reproductor música)-->
            <main>

            </main>
        </section>

        <footer>
            <button id="backBtn">⏮</button>
            <button id="pauseBtn">▶</button>
            <button id="skipBtn">⏭</button>
            <button id="listRepo">☰</button> 
            <button id="soundBtn">🔊</button>
            <div id="barraTiempo"></div>
            <span>1.30</span>
        </footer>
        
        
    </body>
</html>